@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,300;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
html,
body {
  background: #f8fafc;
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%; }

/* Header Section */
header .header-top {
  font-family: "Poppins", sans-serif; }
  header .header-top .nav-brand {
    max-width: 150px; }
    header .header-top .nav-brand img {
      width: 100%; }
    @media (max-width: 992px) {
      header .header-top .nav-brand {
        max-width: 120px;
        margin-right: 16px; } }
  header .header-top .policy-desc {
    color: #6B7280;
    font-size: 11px; }

header .header-menu {
  background: #0c549f !important; }
  header .header-menu nav {
    font-family: "Poppins", sans-serif; }
    header .header-menu nav .nav-item {
      line-height: 20px; }
      header .header-menu nav .nav-item .nav-link {
        color: #85c1ff;
        text-transform: uppercase; }
        header .header-menu nav .nav-item .nav-link.active {
          color: #f8fafc; }
    header .header-menu nav .navbar-toggler {
      border: none; }
      header .header-menu nav .navbar-toggler.active, header .header-menu nav .navbar-toggler:active, header .header-menu nav .navbar-toggler:focus {
        box-shadow: none; }
  header .header-menu .search input {
    box-shadow: none;
    border: none;
    font-size: 13px;
    height: 43px;
    padding-right: 40px; }
    header .header-menu .search input::placeholder {
      font-family: "Poppins", sans-serif; }
    header .header-menu .search input + .input-group-append {
      position: relative;
      right: 30px;
      top: 12px;
      z-index: 10; }

/* Utilities */
.fs-0 {
  font-size: 0px !important; }

.fs-8 {
  font-size: 8px !important; }

.fs-11 {
  font-size: 11px !important; }

.fs-12 {
  font-size: 12px !important; }

.fs-13 {
  font-size: 13px !important; }

.fs-16 {
  font-size: 16px !important; }

.fs-17 {
  font-size: 17px !important; }

.fs-20 {
  font-size: 20px !important; }

.fs-23 {
  font-size: 23px !important; }

.fs-24 {
  font-size: 24px !important; }

.fs-25 {
  font-size: 25px !important; }

.fs-28 {
  font-size: 28px !important; }

.fs-30 {
  font-size: 30px !important; }

.fs-32 {
  font-size: 32px !important; }

.fs-36 {
  font-size: 36px !important; }

.fs-40 {
  font-size: 40px !important; }

.fs-44 {
  font-size: 44px !important; }

.fs-48 {
  font-size: 48px !important; }

.fs-80 {
  font-size: 80px !important; }

.font-weight-thin {
  font-weight: 100 !important; }

.font-weight-extra-light {
  font-weight: 200 !important; }

.font-weight-light {
  font-weight: 300 !important; }

.font-weight-regular {
  font-weight: 400 !important; }

.font-weight-medium {
  font-weight: 500 !important; }

.font-weight-semi-bold {
  font-weight: 600 !important; }

.font-weight-bold {
  font-weight: 700 !important; }

.font-weight-extra-bold {
  font-weight: 800 !important; }
