/* Banner Section */

.banner {
    position: relative;
    .slider-caption {
        position: absolute;
        left: 5.7%;
        width: 38%;
        top: 30%;
        font-family: $font-family-poppins;
        color: $light;
        .caption-price {
            font-size: 2rem;
            padding: 0 15px 8px;
            font-weight: 700;
            display: inline-block;
            span {
                font-size: 1.4rem;
                top: -5px;
                padding-left: 4px;
                position: relative;
            }
            @media (max-width: 546px) {
                font-size: 1.5rem;
                padding: 0 0 4px;
            }
        }
        .product-title {
            font-size: 2rem;
            padding: 0 15px 21px;
            font-weight: 200;
            line-height: 50px;
            @media (max-width: 546px) {
                font-size: 1.5rem;
                padding: 15px 8px 55px;
                line-height: 30px;
            }
        }
        .product-desc {
            font-weight: 300;
            line-height: 26px;
            padding: 0 15px;
            margin-bottom: 28px;
            @media (max-width: 546px) {
                display: none;
            }
            @media (max-width: 767px) {
                font-size: 13px;
                line-height: 20px;
            }
        }
        .buy-now {
            font-size: 1rem;
            font-weight: 800;
            a {
                text-decoration: none;
                color: #fd6666;
            }
            @media (max-width: 546px) {
                margin-top: 40px;
            }
        }
        .caption-2 {
            .buy-now a {
                color: $light;
            }
        }
        .caption-3 {
            .caption-price {
                color: #559fea;
            }
        }
        @media (max-width: 976px) {
            top: 20%;
        }
    }
    .owl-carousel {
        .owl-stage-outer {
            .owl-stage {
                .owl-item {
                    .item img {
                        height: 100% !important;
                        @media (max-width: $l) {
                            height: 600px !important;
                        }
                        @media (max-width: $md) {
                            height: 400px !important;
                        }
                        @media (max-width: $sm) {
                            height: 300px !important;
                        }
                    }
                }
            }
        }
        .owl-nav {
            .owl-prev {
                left: 0;
                -webkit-border-radius: 0 8px 8px 0;
                -moz-border-radius: 0 8px 8px 0;
                -ms-border-radius: 0 8px 8px 0;
                -o-border-radius: 0 8px 8px 0;
                border-radius: 0 8px 8px 0;
            }
            .owl-next {
                right: 0;
                -webkit-border-radius: 8px 0 0 8px;
                -moz-border-radius: 8px 0 0 8px;
                -ms-border-radius: 8px 0 0 8px;
                -o-border-radius: 8px 0 0 8px;
                border-radius: 8px 0 0 8px;
            }
            .owl-prev,
            .owl-next {
                transition: all 0.2s linear;
                padding: 14px !important;
                text-align: center;
                position: absolute;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                z-index: 1;
                cursor: pointer;
                background: rgba(0, 0, 0, 0.2);
                i {
                    font-size: 1.6rem;
                    color: $light;
                }
                &:hover {
                    background: $primary;
                }
                @media (max-width: $md) {
                    top: 40%;
                    padding: 8px !important;
                }
            }
        }
    }
}