header {
    .header-top {
        font-family: $font-family-poppins;
        .nav-brand {
            img {
                width: 100%;
            }
            max-width: 150px;
            @media (max-width: $l) {
                max-width: 120px;
                margin-right: 16px;
            }
        }
        .policy-desc {
            color: $gray-500;
            font-size: 11px;
        }
        @media (min-width: $xl) {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}