.collection-tabs {
    .product-tabs {
        @media (max-width: 562px) {
            padding-left: 4px;
        }
        .header {
            font-size: 1.6rem;
            margin: 0;
            font-family: $font-family-poppins;
            font-weight: 600;
            color: $gray-800;
            text-transform: capitalize;
            .title {
                border-bottom: 1px solid $gray-300;
                span {
                    position: relative;
                    display: inline-block;
                    padding-bottom: 10px;
                    &::after {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 3px;
                        background: #105caa;
                        left: 0;
                        bottom: -2px;
                    }
                }
            }
            .list-menu {
                padding: 8px 0;
                border-bottom: 1px solid $gray-300 !important;
                font-family: $font-family !important;
                nav {
                    font-size: 0.8rem;
                    .nav-link {
                        padding-left: 12px;
                        padding-right: 12px;
                        color: #666;
                        line-height: 1.5;
                        font-weight: 400;
                    }
                    @media (max-width: $l) {
                        border-bottom: 1px solid $gray-300;
                    }
                }
                .nav-pills {
                    .nav-item {
                        font-weight: 700;
                        font-size: 0.8rem;
                        text-transform: uppercase;
                        .nav-link {
                            margin-left: 4px;
                            color: #222;
                            background: #f0f0f0;
                            padding-top: 11px;
                            padding-bottom: 11px;
                            &:hover,
                            &.active {
                                background: #105caa;
                                color: #fff;
                            }
                            @media (max-width: $xl) {
                                min-width: 130px !important;
                            }
                            @media (max-width: 562px) {
                                margin-top: 4px;
                            }
                        }
                    }
                }
            }
        }
    }
}